<div class="container">
  <!-- Titel für Kursübersicht -->
  <div class="mt-4 mb-3 text-center">
    <h2>Kursübersicht</h2>
  </div>

    <!-- Zoom-Button -->
    <div class="text-center mb-4">
      <button (click)="toggleZoom()" class="btn btn-info">
        {{ isZoomed ? 'Normalgröße' : 'Text vergrößern' }}
      </button>
    </div>

  <!-- Tabelle 1: Kursinformationen -->
  <table class="table table-bordered table-hover mt-4" [class.zoomed]="isZoomed">
    <thead>
      <tr>
        <th title="Der Name des Kurses">Kurs</th>
        <th title="Der Veranstaltungsort, an dem der Kurs stattfindet">Veranstaltungsort</th>
        <th title="Die genaue Adresse des Veranstaltungsortes">Adresse des Veranstaltungsortes</th>
        <th title="Ist der Veranstaltungsort mit öffentlichen Verkehrsmitteln erreichbar?">Öffentlich erreichbar?</th>
        <th title="Die Person, die den Kurs leitet">Kursleiter</th>
        <th title="Alle verfügbaren Termine für diesen Kurs">Alle Termine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of storeService.courses">
        <td>{{ course?.name }}</td>
        <td>{{ course?.eventLocation?.name }}</td>
        <td>{{ course?.eventLocation?.address }}</td>
        <td>{{ course?.eventLocation?.venueByPublicTansport ? "Ja" : "Nein" }}</td>
        <td>{{ course?.instructor }}</td>
        <td>
          <ul>
            <li *ngFor="let date of course.dates">
              <span>{{ date?.begin | date: "MMM dd, yyyy 'um' HH:mm" }}</span> - 
              <span>{{ date?.end | date: "MMM dd, yyyy 'um' HH:mm" }}</span>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Titel für Registrierungsinformationen -->
  <div class="mt-5 mb-3 text-center">
    <h2>Registrierungsinformationen</h2>
  </div>

  <!-- Tabelle 2: Registrierungsinformationen -->
<table class="table table-bordered table-hover registration-table mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Geburtsdatum</th>
      <th>Kurs</th>
      <th role='button' (click)="onSortChange()">Anmeldedaten</th>
      <th>Abmelden</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registration of storeService.registrations">
      <td>{{ registration?.name }}</td>
      <td>{{ registration?.birthdate | date: "dd.MM.yyyy" }}</td>
      <td>{{ registration?.course?.name }}</td>
      <td>{{ registration?.registrationDate }}</td>
      <td><a (click)="onCancelRegistration(registration?.id)" role="button" *ngIf="deleteId != registration.id">Abmelden</a><mat-spinner *ngIf="deleteId == registration.id"></mat-spinner></td>
    </tr>
  </tbody>
</table>


  <!-- Pagination-Buttons -->
  <div class="mt-4 text-center">
    <button 
      [ngClass]="{'btn btn-primary': page == storeService.currentPage, 'btn btn-outline-primary': page != storeService.currentPage}" 
      (click)="selectPage(page)" 
      type="button" 
      *ngFor="let page of returnAllPages()">
      {{ page }}
    </button>
  </div>
</div>
